html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
body {

}
header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.logo {
  margin: 0 auto;
  width: 1170px;
}
.logo-left {
  float: left;
}
.progate {
  margin-top: 20px;
  width: 124px;
}
.logo-right {
  float: right;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);  
  transition: all 0.5s;
}
.logo-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.logo-right a {
  margin: 25px;
  line-height: 20px;
  display: block;
  color: white;
}

.main {
  text-align: center;
  margin: 0 auto;
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
}
.container {
  color: white;
  opacity: 0.7;
  padding-bottom: 30px;
}
.container h1 {
  font-size: 45px;
  letter-spacing: 5px;
}
.btn {
  padding: 8px 24px;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
  display: inline-block;
}
.btn:hover {
  opacity: 1.0;
}
.signup {
  background-color: #239b76;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #55acee;
  margin-left: 10px;
}
.contents p {
  padding: 15px 0;
  color: white;
  opacity: 0.7;
}
.fa {
  margin-right: 5px;
}
.wrapper {
  background-color: #f7f7f7;
}
.top-wrapper {
  width: 1170px;
  height: 580px;
  margin: auto;
  text-align: center;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
}
.heading h2 {
  color: #5f5d60;
  font-weight: normal;
}
.lessons {
  display: flex;
  
}
.lesson {
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  color: white;
  top: 90px;
  width: 100%;
}
.text {
  color: #b3aeb5;
  padding-top: 15px;
  font-size: 13px;
  width: 80%;
  margin: auto;
  display: inline-block;
}
.message-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #5f5d60;
  padding-bottom: 80px;
}
.message-wrapper h2 {
  font-weight: normal;
}
.message {
  background-color: #5dca88;
  opacity: 0.8;
  box-shadow: 0px 7px #1a7940;
  padding: 15px 40px;
  border-radius: 4px;
}
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
footer {
  
}
.foot {
  width: 1170px;
  margin: 0 auto;
  color: #b3aeb5;
  font-size: 12px;
  border-top: 1px solid #eee;
  padding: 30px 0px;
}
.foot img {
  width: 124px;
}
